body
 {
   padding: 2vw;
   padding-top: 4vw;
   margin: 0;
/*     font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
   font-family: "Cabin";
    font-style: normal;
   font-size: 0.8rem;
   line-height: 1.5;
   color: #000000;
 }

 a {
   color: #355c7d;
 }

 .main-content img
 {
   max-width: 100%;
   z-index: -1;
   position: relative;
   display: block;
   margin: 0;
   opacity: 0;

 }

/* .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
   margin-top: 2rem;
   margin-left: 2rem;
   margin-bottom: 1rem;
   font-weight: normal;
   text-shadow: 0 0 3px #fff;
   color: #6D5B7B;
 } */

 .jalan {
   background: url('../images/jalan_portrait.jpg');
   position: relative;

 }

 .jalan:hover {
/*     z-index: 2; */
   opacity: 0.75;
 }

 .maxwell {
   background: url('../images/max_portrait.jpg');
   position: relative;

 }

 .maxwell:hover{
/*     z-index: 2; */
   opacity: 0.75;
 }

 .carly {
   background: url('../images/carly_portrait.jpg');
   position: relative;

 }

 .carly:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .nathan {
   background: url('../images/nathan_portrait.jpg');
   position: relative;

 }

 .nathan:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .basil {
   background: url('../images/basil_portrait.jpg');
   position: relative;
 }

 .basil:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .jalen {
   background: url('../images/jalen_portrait.jpg');
   position: relative;
 }

 .jalen:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .ruby {
   background: url('../images/ruby_portrait.jpg');
   position: relative;
 }

 .ruby:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .elora {
   background: url('../images/elora_portrait.jpg');
   position: relative;
 }

 .elora:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .nancy {
   background: url('../images/nancy_portrait.jpg');
   position: relative;
 }

 .nancy:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .alexis {
   background: url('../images/alex_portrait.jpg');
   position: relative;
 }

 .alexis:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .susannah {
   background: url('../images/susannah_portrait.jpg');
   position: relative;
 }

 .susannah:hover {
/*     z-index: 2; */
  opacity: 0.75;
 }

 .square {
   width: 10vw;
   height:10vw;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   margin: 0;
   margin-bottom: 3vw;
   margin-left: 7vw;
   float: left;
 }

 .square:hover {
   background-position: center center;
   background-repeat: no-repeat;
 }

 .square figure
 {
     display: block;

 }

 .square figcaption
 {
     text-align: center;
     font-size: 0.8rem;
 }

 .row
 {
     clear: left;
 }

 .main-content
 {
   float: left;

 }
 .info
 {
   float: left;
   width: 20vw;
 }

 .info img
 {
   width: 20vw;

 }
 .soc
 {
  float: left;
 }

 .soc img
 {
  width: 30px;
  height: 30px;
  padding-right: 3px;
}

@media only screen and (max-width: 768px)
{
 .info
 {
   clear: both;
   width: 100vw;
   margin-bottom: 4vw;
   padding: 1%;
   padding-left: 7vw;
   margin-left: 10vw;
 }

 #desc
 {
   width: 30vw;
   float: left;
   height: 12vw;
   padding-bottom: 10vw;

 }

 #show
 {
   width: 35vw;
   float: left;
   height: 12vw;
   padding-left: 7vw;
   padding-bottom: 15vw;
 }

 #links
 {
   width: 35vw;
   float: left;
   height: 12vw;

 }

  #header_logo
  {
    width: 50vw;
    clear: both;
    padding-left: 10vw;
    padding-right: 20vw;
    padding-top: 3vw;
  }


  body
  {
    margin: 0;
    padding: 0;
  }

  .main-content
  {
    padding-top: 5vw;
    width: 90vw;
    margin-left: 10vw;
  }

  .square
  {
    width: 30vw;
    height: 30vw;
    margin-bottom: 8vw;
  }

}
