 body
  {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
  }

  a {
    color: #355c7d;
  }

/*  .main-content img
  {
    max-width: 100%;
    z-index: -1;
    position: relative;
    display: block;
    margin: 0;
  } */

  .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    text-shadow: 0 0 3px #fff;
    color: #6D5B7B;
  }

  .jalan {
    background: url('../images/jalan.png');
    position: relative;

  }

  .jalan:hover {
    z-index: 2;

  }

  .maxwell {
    background: url('../images/maxwell.png');
    position: relative;

  }

  .maxwell:hover{
    z-index: 2;
  }

  .carly {
    background: url('../images/carly.png');
    position: relative;

  }

  .carly:hover {
    z-index: 2;
  }

  .nathan {
    background: url('../images/nathan.png');
    position: relative;

  }

  .nathan:hover {
    z-index: 2;
  }

  .basil {
    background: url('../images/basil.png');
    position: relative;
  }

  .basil:hover {
    z-index: 2;
  }

  .jalen {
    background: url('../images/jalen.png');
    position: relative;
  }

  .jalen:hover {
    z-index: 2;
  }

  .ruby {
    background: url('../images/ruby.png');
    position: relative;
  }

  .ruby:hover {
    z-index: 2;
  }

  .elora {
    background: url('../images/elora.png');
    position: relative;
  }

  .elora:hover {
    z-index: 2;
  }

  .nancy {
    background: url('../images/nancy.png');
    position: relative;
  }

  .nancy:hover {
    z-index: 2;
  }

  .alexis {
    background: url('../images/alexis.png');
    position: relative;
  }

  .alexis:hover {
    z-index: 2;
  }

  .susannah {
    background: url('../images/susannah.png');
    position: relative;
  }

  .susannah:hover {
    z-index: 2;
  }

  .square {
    width: 10vw;
    height:10vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 1rem;
    float: left;
  }

  .square:hover {
    background-position: center center;
    background-repeat: no-repeat;
  }

  .square figure
  {
      display: block;

  }

  .square figcaption
  {
      text-align: center;
      font-size: 0.8rem;
  }

  .row
  {
      margin-bottom: 5rem;
      padding: 2rem;
      clear: left;
  }

  .main-content
  {
    width: 70vw;
    float: left;

  }
  .logo
  {
      float: left;
  }

  .logo img
  {
    width: 20vw;
    padding: 2vw;

  }
